* { box-sizing: border-box;}
 html, body {
   height: 100%;
   overflow: hidden;
 }

body {
  margin: 0 auto;
  color: greenyellow;
  background-color: #141518;
}

.slider {
  display: grid;
  grid-template-columns: 2vw 2fr 2fr 2fr 1fr 1fr  2vw;
  grid-template-rows: 4vmin 40vmin 3vmin 5vmin;

  width: 75vw;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slides::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 75vw;
  height: 40vmin;
  border-radius: 10px;
  background-color: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  align-items: center;
}

.slide {
  height: 44vmin;
  background-color: #111215;
}

.picture {
  height: 100%;
  max-height: 40vmin;
  width: 75vw;
  background-color: #111215;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mask {
  z-index: 5;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;

  background: linear-gradient(to left, rgba(20, 21, 24, 1), rgba(20, 21, 24, 0));
}

.control-window {
  z-index: 5;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


  background-color:#141518;
}

.control-window > a {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 1vmin;
  height: 1vmin;

  text-decoration: none;

  background: greenyellow;
  border: 0.2vmin solid transparent; 
  border-radius: 50%;
}

a:link {
  background: greenyellow;
}

a:hover {
  border-color: gainsboro;
  background-color: white;
}

a:focus {
  border-color: white;
  background-color: greenyellow;
}

a:active {
  border-color: greenyellow;
  background-color: transparent;
}

span {
  padding: 1vmax 1vmin;
}

span:hover a {
  border-color: gainsboro;
  background-color: white;
}

.picture1 { background-image: url(./assets/1.jpg); }
.picture2 { background-image: url(./assets/2.jpg); }
.picture3 { background-image: url(./assets/3.gif); }
.picture4 { background-image: url(./assets/4.jpg); }
.picture5 { background-image: url(./assets/5.jpg); }
.picture6 { background-image: url(./assets/6.jpg); }

.text {
  font-size: 3vmin;
  margin-top: 3vmin;
}

@media (max-width: 768px) {

  .slider {
    grid-template-columns: 2vw 1fr 2vw;
    grid-template-rows: 4vmin 40vh 5vmin 5vmin 5vmin auto;
  }
  
  .slides {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .control-window {
    grid-column: 2 / 3;
    grid-row: 4 / 5
  }
}
